//@extend-elements
//original selectors
//ul#menu_top li a:link, ul#menu_top li a:visited
%extend_1 {
	display: block;
	width: 141px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: $color_3;
	text-align: center;
	text-decoration: none;
}

//original selectors
//ul#menu_top a.menu_sub:link, ul#menu_top a.menu_sub:visited
%extend_2 {
	display: block;
	width: 141px;
	height: 26px;
	background: url('../images/menu_sub_normal.png') no-repeat;
	padding-top: 6px;
	text-decoration: none;
}

//original selectors
//ul#menu_top a.menu_sub2:link, ul#menu_top a.menu_sub:visited
%extend_3 {
	display: block;
	width: 141px;
	height: 38px;
	background: url('../images/menu_sub_normal2.png') repeat-y;
	padding-top: 5px;
	line-height: 18px;
	text-decoration: none;
}

//original selectors
//#under_footer a:link, #under_footer a:visited
%extend_4 {
	color: $color_4;
	font-size: 10px;
	line-height: 12px;
	text-decoration: none;
}

//original selectors
//#contact_top, #contact_bot
%extend_5 {
	position: relative;
	float: left;
	display: inline;
	width: 100%;
	margin-bottom: 20px;
}

//original selectors
//#mainnew h2, #mainnew2 h2
%extend_6 {
	color: $color_0;
	font-size: 10px;
	padding: 0;
	margin: 0;
}

//original selectors
//#paiements_left, #valid_bat_left
%extend_7 {
	position: absolute;
	left: 0;
	top: 15px;
	width: 315px;
	float: left;
	display: inline;
}

//original selectors
//#paiements_left_tit, #valid_bat_left_tit
%extend_8 {
	position: relative;
	width: 333px;
	text-transform: uppercase;
	padding: 1px 0 0 18px;
	height: 22px;
	line-height: 23px;
	background: $color_12;
	color: $color_1;
	font-size: 12px;
	float: left;
	display: inline;
	margin: 0 0 5px 0;
}

//original selectors
//#paiements_left_con, #valid_bat_left_con
%extend_9 {
	position: relative;
	width: 315px;
	height: 120px;
	padding: 20px 16px 13px 20px;
	background: $color_7;
	float: left;
	display: inline;
}

//original selectors
//a.lcomment:link, a.lcomment:visited, a.lcomment:hover
%extend_10 {
	width: 22px;
	height: 22px;
	position: absolute;
	left: 200px;
	top: 0;
	background: url('../images/lastcomment.png') no-repeat;
}

//original selectors
//.plvmak input, .plvmak1 input
%extend_11 {
	position: absolute;
	top: 0;
	left: -20px;
	margin: 3px 3px 0 0;
}

//original selectors
//a.lastcommentlink:link, a.lastcommentlink:visited
%extend_12 {
	position: relative;
	margin-top: 10px;
	float: right;
	display: inline;
}

//original selectors
//.stat2, span.stat3, span.stat4
%extend_13 {
	width: 121px;
	height: 16px;
	padding-top: 1px;
	margin: 0 10px;
	display: inline-block;
	background: $color_12;
	color: $color_1;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

//original selectors
//a.forgetpass:link, a.forgetpass:visited
%extend_14 {
	position: absolute;
	left: 126px;
	bottom: 18px;
	width: 140px;
	height: 12px;
	color: $color_12;
	text-decoration: underline;
}

//original selectors
//a.pleaseregister:link, a.pleaseregister:visited, a.pleaseregister:hover
%extend_15 {
	position: absolute;
	bottom: 39px;
	left: 26px;
	background: url('../images/register.png') no-repeat;
	width: 101px;
	height: 19px;
	cursor: pointer;
	text-indent: -999em;
	overflow: hidden;
	border: none;
}

//original selectors
//ul.regiform, ul.regiform2
%extend_16 {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

//original selectors
//ul.regiform li, ul.regiform2 li
%extend_17 {
	position: relative;
	padding: 6px 88px 0 22px;
	list-style-type: none;
	float: left;
	display: inline;
	width: 237px;
	height: 24px;
}

%extend_18 {
  position: relative;
  float: left;
  display: inline;
  width: 376px;
  color: $color_27;
}
