//                   Template tablette portrait/mobile paysage: - de 640px/540px
// -----------------------------------------------------------------------------

@media(max-width: 650px) {
  .prezHide {
    display: none;
  }

  a#logo {
    top: 40px;
  }
  .jotform-form .label-highlight {
    padding-left: .3rem;
  }
  // slider
  h1.metaTitle {
    line-height: 1.4rem !important;
    font-size: 1.4rem !important;
    margin-bottom: 0 !important;
  }
  .metaAP {
    width: 140px;
  }
  .metaPrice {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
  a.metaButton {
    font-size: 1.2rem !important;
    width: 80px;
  }

  #banners {
    .banner1 {
      width: 100%;
      float: none;
    }
    .banner2 {
      width: 60%;
      float: none;
    }
  }

  #buying{
    h3{
      .aideDevis {
        left: 80%;
      }
    }
  }
  .cards {
    .card {
      width: 49%;
    }
  }
}

@media(max-width: 540px) {
  // invisible -----------------------------------------------------------------
  #preview,
  #preview2 {
    display: none;
  }

  // grille --------------------------------------------------------------------


  #buying,
  #wycena_nag,
  #wycena_suma,
  #dodaj_koszyk {
    @include span(12);
    padding-left: 0;
    padding-right: 0;
  }
  #wycena,
  .dateLivraison {
    float: none;
    width: 100%;
  }

  #header {
    height:300px;
    background-image: url('../images/mobile480b.png');
    width: 100%;
    background-size: contain;
  }


  //----------------------------------------------------------------------------
  //                             HEADER
  //----------------------------------------------------------------------------


  button#responsive-menu-button {
    top: 10px;
    right: 10px;
    margin: 0;
  }

  // logo ----------------------------------------------------------------------

  a#logo {
    top: 80px;
    left: 10px;
    width: 22%;
    height: 200px;
  }

  //  titre site ---------------------------------------------------------------

  .site-head{
    top: 120px;
    left: 24%;
    width: 71%;
    .site-title{
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
    .site-subtitle{
      padding: 0 4px;
      font-size: .8rem;
      line-height: .85rem;
    }
  }

  // menu accès client ---------------------------------------------------------

  ul.menu-client{
    font-size: .7rem;
    line-height: 1.1rem;
    top:150px;
    height:80px;
    li{
      height: 60px;
    }
   .menu-client-icon {
      display: block;
      font-size: 3rem;
      color: $cyan;
    }
    .menu-client-icon.phone {
      padding-right: 10px;
      padding-top: 10px;
    }
    .menu-client-phone{
      padding-left: 10px;
    }
    .tel1{
      font-size: 1rem;
    }
    .tel2 {
      font-size: 1.3rem;
    }
    .tel3 {
      font-size: .7rem;
      text-align: right;
    }
  }

  //----------------------------------------------------------------------------
  //                           PAGES PRODUITS
  //----------------------------------------------------------------------------

  #buying{
    min-height: 20px;
  }

  // ajustement des icônes dans les pages accueil, akilux, stickers et enseigne

  ul#tarifs {
    li {
      width: 48%; //120
    }
  }
  .b-it1{
    margin-right: 2%;
  }
  .b-it2 {
    margin-right: 0;
  }
  .b-it3 {
    margin-right: 2%;
  }



  //----------------------------------------------------------------------------
  //                           PAGES ACCES CLIENT
  //----------------------------------------------------------------------------

  // tableau produit commandé détail -------------------------------------------

  .disMob0 {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    color: $cyan-bloc;
  }

  // tableau devis -------------------------------------------------------------

  #fbcart_cart {
    position: relative;
    float: left;
    display: inline-block;
    @include container(100%);
    width: 100%;
    span {
      &.therest {
        display: none;
      }
    }

    th {
      display: none;
    }

    td {
      display: inline-block;
      width: 100%;
      padding: .5rem;
      background-image: none;

      &.lefttd {
        width: 100%;
      }
      &.noprint{
        width: 5%;
      }
      &.tdtotal{

      }
    }
  }
  #comment_left{
    padding: 1rem;
  }
}
