//                                           Template tablette: - de 960px/760px
// -----------------------------------------------------------------------------
@media(max-width: 960px) {
  ul#tarifs {
    li {
      .micro a {
        font-size: .7rem;
        .micro-s {
          display: block;
          font-size: .5rem;
          font-family: $font-global;
        }
      }
    }
  }

  .metaAP {
    width: 250px;
  }

  .jotform-form .label-highlight {
    width: 25%;
  }
  .jotform-form input.form-textbox,
  .jotform-form input.form-textbox2 {
    width: 30%;
  }
}

@media(max-width: 760px) {

  // invisible -----------------------------------------------------------------
  .textHide{
    display: none;
  }

  //----------------------------------------------------------------------------
  //                             HEADER
  //----------------------------------------------------------------------------

  #header {
    height:300px;
    background-image: url('../images/mobile480.png');
    background-size: cover;
  }

  // logo ----------------------------------------------------------------------

  a#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25%;
    height: 280px;
    vertical-align: bottom;
  }

  //  titre site ---------------------------------------------------------------

  .site-head{
    width: 68%;
    top: 100px;
    left: 27%;
    letter-spacing: 1px;
    .site-title{
      font-size: 2.6rem;
      line-height: 2.8rem;
    }
    .site-subtitle{
      padding: 0 5px;
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin: 2px 0 0 -2px;
    }
  }

  // menu accès client ---------------------------------------------------------

  ul.menu-client{
    @include container (90%);
    font-size: .8rem;
    line-height: 1.4rem;
    top:140px;
    left:0;
    height:80px;
    li{
      height: 60px;
    }
   .menu-client-icon {
      font-size: 3rem;
    }
    .menu-client-icon.phone {
      padding-right: 10px;
      padding-top: 10px;
    }
    .menu-client-phone{
      padding-left: 10px;
    }
    .tel1{
      font-size: 1rem;
    }
    .tel2 {
      font-size: 1.3rem;
    }
    .tel3 {
      font-size: .7rem;
      text-align: right;
    }
  }

  //----------------------------------------------------------------------------
  //                            PAGE ACCUEIL
  //----------------------------------------------------------------------------

  // icones --------------------------------------------------------------------

  ul#tarifs {
    li {
      width: 32%; //120
    }
  }

  // slider
  h1.metaTitle {
    margin-bottom: 0 !important;
  }
  .metaDesc {
    display: none;
  }
  .metaAP {
    width: 160px;
  }
  .metaPrice {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }

  a.metaButton {
    width: 100px;
    height: 35px;
    font-size: 1.4rem !important;
  }
  //----------------------------------------------------------------------------
  //                          PAGES PRODUITS
  //----------------------------------------------------------------------------

  #top_info {
    .front img{
      @include span(4);
      vertical-align: bottom;
      max-height: auto;
    }
    #top_info_info {
      @include span(8);
    }
  }

  #buying{
    min-height: 450px;
  }

  #preview,
  #preview2,
  #preview3 {
    min-height: 350px;
    .arrow {
      height: 50px;
      top: 30px;
    }
  }

  .pushButton{
    margin-left:0;
  }

  // afficher à gauche les tooltips aide sélection produits --------------------

  .helpText {
    left: auto;
    right: 35px;
    width: 280px;
  }

  .helpText:after, .helpText:before {
    left: 100%;
    top: 28px;
  }
  .helpText:after {
  	border-color: rgba(246, 246, 246, 0);
  	border-left-color: #f6f6f6;
  	border-width: 10px;
  	margin-top: -10px;
  }
  .helpText:before {
  	border-color: rgba(233, 233, 233, 0);
  	border-left-color: #e9e9e9;
  	border-width: 11px;
  	margin-top: -11px;
  }

  .notice{
    width: 30px;
    height: 30px;
  }


  // largeur des champs select -------------------------------------------------

  ul.form-section li.optionsformline4,
  ul.form-section li.optionsformline5, {
    width: 100%;
  }

  ul.form-section {

    li.optionsformline,
    li.optionsformlineOld {
      .options_single span {
        &.optionsleft,
        &.optionsright {
          width: 100%;
            .helpButton {
            right: 5px;
            left: auto;
          }
        }
      }
    }
  }


  // tableau PLV ---------------------------------------------------------------

  #promotions_table {
    tr {
      display: block;
      background: $bloc-base;
      margin-bottom: 20px;
    }
    td {
      display: inline-block;
      width: 49%;
      border-bottom: 0;
      &.lefttd{
        background: transparent;
      }
      &.optionstd {
        width: 49%;
        border-bottom: 0;
        background: transparent;
      }

      &.righttd {
        width: 49%;
        border-bottom: 0;
        background: transparent;
      }
    }
  }

  //----------------------------------------------------------------------------
  //                       PAGES ACCES CLIENT
  //----------------------------------------------------------------------------

  .acces_left {
    float: none;
    display: inline;
    @include span(12);
  }

  .acces_right {
    float: none;
    display: inline;
    @include span(12);
  }

  // tableaux devis ------------------------------------------------------------

  #fbcart_address {
    width: 100%;
  }

  #fbcart_check {
    width: 100%;
  }

  //----------------------------------------------------------------------------
  //                           PAGE PAIEMENTS
  //----------------------------------------------------------------------------

  #paiements_left,
  #valid_bat_left {
    width: 100%;
  }
  #paiements_right {
    margin-left: 0;
    width: 100%;
  }

  //----------------------------------------------------------------------------
  //                           PAGE CONTACT
  //----------------------------------------------------------------------------

  #contact1 {
    width: 100%;
  }
  #contact2 {
    width: 100%;
    margin-left: 0;
  }
  #contact3 {

    width: 100%;
  }
  #contact4 {
    margin-left: 0;
    width: 100%;
  }

  span.contacter,
  span.contacter2 {
    width: 100%;
  }

  // boutons à 50% de l'écran --------------------------------------------------
  .fuselect,
  .fustart,
  .fucancel,
  .fudelete,
  a.but_voiremaquette,
  #but_modifier,
  #but_retour,
  #but_imprimer,
  #but_imprimerfacture,
  #but_ajouter,
  #but_comment,
  #but_suivre,
  #but_rating,
  #but_supprimer,
  #but_annuler,
  #validerdevis,
  #but_continuer,
  a#but_imprimerbon,
  #but_imprimer_rib,
  form#delfromvosdevis,
  #paye {
    width: 49%;
  }

  // adaptation taille pour bouton input dans conteneur

  #but_payer.deactive {
    @include buttonLog($magenta, 49%);
  }
  #but_annulercommande.deactive{
    @include buttonLog($text, 49%);
  }

  // réduction hauteur des boutons annuler/effacer du module upload

  .fucancel,
  .fudelete {
    height: 25px;
    padding: 0;
  }

  // ajustements padding top status commandes
  .comment_new {
    padding-top: 0;
  }


  // ---------------------------------------------------------------------------
  //                            FOOTER
  // ---------------------------------------------------------------------------

  #derniers {
    margin-top: 0;
    @include span(12);
    padding-left: 0;
    padding-right: 0;
  }

  #banners {
    @include span(12);
    padding-left: 0;
    padding-right: 0;
  }

}
