@media(max-width: 760px) {
  // invisible -----------------------------------------------------------------

  #preview,
  .prod-desc {
    display: none;
  }

  // grille --------------------------------------------------------------------
  #buying,
  #wycena_nag,
  #wycena_suma,
  #dodaj_koszyk {
    @include span(12);
  }

  #header {
    height:350px;
  }

  //----------------------------------------------------------------------------
  //                             MODULES
  //----------------------------------------------------------------------------

  // Header --------------------------------------------------------------------

  // module logo
  a#logo {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 25%;
    height: 250px;
  }

  // module titre site
  .site-head{
    width: 68%;
    top: 150px;
    left: 27%;
    letter-spacing: 1px;
    .site-title{
      font-size: 2.6rem;
      line-height: 2.8rem;
    }
    .site-subtitle{
      padding: 0 5px;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  // module accès client
  ul.menu-client{
    @include container (90%);
    font-size: .8rem;
    line-height: 1.4rem;
    top:200px;
    height:80px;
    li{
      height: 60px;
    }
   .menu-client-icon {
      font-size: 3rem;
    }
    .menu-client-icon.phone {
      padding-right: 10px;
      padding-top: 10px;
    }
    .menu-client-phone{
      padding-left: 10px;
    }
    .tel1{
      font-size: 1rem;
    }
    .tel2 {
      font-size: 1.3rem;
    }
    .tel3 {
      font-size: .7rem;
      text-align: right;
    }
  }

  //----------------------------------------------------------------------------
  //                      MODULES PAGE ACCUEIL
  //----------------------------------------------------------------------------

  // module icones tarifs

  ul#tarifs {
    li {
      width: 48%; //120
    }
  }

  //----------------------------------------------------------------------------
  #top_info {
    .front img{
      @include span(6);
      width: auto;
      max-height: 100px;
    }
    #top_info_info {
      @include span(6);
      span.info_nag {
        padding-bottom: 2px;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }

  .pushButton{
    margin-left:0;
  }

  #derniers {
    top: auto;
    width: 50%;
  }

  #ratinghome {
    width: 50%;
  }

  //----------------------------------------------------------------------------
  //                      MODULES ACCES CLIENT
  //----------------------------------------------------------------------------

  .acces_left {
    float: none;
    display: inline;
    @include span(12);
  }

  .acces_right {
    float: none;
    display: inline;
    @include span(12);
  }

  // tableau
  #fbcart_address {
    width: 100%;
  }

  #fbcart_check {
    width: 100%;
  }


  // boutons à 50% de l'écran --------------------------------------------------
  .fuselect,
  .fustart,
  .fucancel,
  .fudelete,
  #but_retour,
  #but_imprimer,
  #but_imprimerfacture,
  #but_ajouter,
  #but_comment,
  #but_suivre,
  #but_rating,
  #but_supprimer,
  #validerdevis,
  a#but_imprimerbon,
  #but_imprimer_rib,
  form#delfromvosdevis,
  #paye {
    width: 49%;
  }

  // adaptation taille pour bouton input dans conteneur
  #but_payer.deactive {
    @include buttonLog($magenta, 49%);
  }
  #but_annulercommande.deactive{
    @include buttonLog($text, 49%);
  }

  // réduction taille boutons annuler effacer module upload
  .fucancel,
  .fudelete {
    height: 25px;
    padding: 0;
  }

}
