//                                                   Template mobile: - de 480px
// -----------------------------------------------------------------------------

@media(max-width: 480px) {

  .disno480{
    display: none;
  }

  ul#tarifs {
    li {
      .micro a {
        font-size: .7rem;
        .micro-s {
          display: none;
        }
      }
    }
  }

  .cards {
    .card {
      width: 100%;
    }
  }
  //----------------------------------------------------------------------------
  //                      PAGES PRODUIT
  //----------------------------------------------------------------------------

  #top_info {
    .front img{
      @include span(2);
      max-height: 100px;
    }
    #top_info_info {
      @include span(10);
    }
  }

  .metaslider {
    display: none;
  }

  .helpMenu{
      margin-top: 0;
  }


  // help buttons --------------------------------------------------------------

  .helpImg {
    animation: none;
  }

  //----------------------------------------------------------------------------
  //                       PAGES ACCES CLIENT
  //----------------------------------------------------------------------------



  // alerte panier--------------------------------------------------------------

  .box_info,
  .box_warning {
    font-size: .8rem;
    line-height: .9rem;
    img{
      max-width: 50px;
    }
  }

  // ajustements padding top status commandes ----------------------------------

  .comment_new {
    padding-top: 5px;
  }
  .stat6 {
    padding-top: .8rem;
  }



  // tableau dernier commentaire -----------------------------------------------

  #fbcart_lastcomment {
    th {
      display: none;
      &.leftth3 {
        display:block;
        width: 100%;
      }
    }
    tr{
      background: $bloc-base;
      border-spacing: .7rem;
      td {
        width: 100%;
        padding: .5rem;
        &.lefttd,
        &.lefttd2,
        &.lefttd2a,
        &.lefttd3,
        &.lefttd3a,
        &.lefttd4{
          display: table-row;
          width: 100%;
        }
      }
    }
  }

  // tableau file upload -------------------------------------------------------

  #fbcart_fileupload3 {
    .tabsize {
      width: 20%;
    }
    th {
      display: none;
    }
    td {
      &.tdstart{
        width: 50%;
      }
      &.tdprog {
        display: none;
      }
    }
  }

  #fileupload .acces_tab_name2 {
    font-size: .8rem;
  }
  .fuselect.ui-button,
  .fustart.ui-button,
  .fucancel.ui-button,
  .fudelete.ui-button {
    position: relative;
    i {
      display: inline-block;
      position: absolute;
      top: 7px;
      left: 10px;
    }

  }
  // adaptation recaptcha responsive

  #rc-imageselect,
  .g-recaptcha {
      transform:scale(0.77);
      transform-origin:0;
      transform:scale(0.77);
      transform-origin:0 0;
      -webkit-transform:scale(0.77);
      transform:scale(0.77);
      -webkit-transform-origin:0 0;
      transform-origin:0 0;
  }

  //----------------------------------------------------------------------------
  //                           PAGE PAIEMENTS
  //----------------------------------------------------------------------------

  .paiements_right_con {
    height: 75px;
  }
  .checkbox2 {
    width: 60%;
    margin-top: -10px;
  }
  #suivant_reg {
    width: 40%;
  }

  // ---------------------------------------------------------------------------
  //                              FOOTER
  // ---------------------------------------------------------------------------

  #footer2 {
    width: 100%;
  }

  // derniers commentaires

  #derniers {
    top: auto;
    width: 100%;
  }

  #ratinghome {
    width: 100%;
  }

  #footer3 {
    height: 200px;
  }
}
