@media(max-width: 480px) {
  // invisible -----------------------------------------------------------------

  #preview,
  .prod-desc {
    display: none;
  }

  #header {
    height:220px;
  }

  //----------------------------------------------------------------------------
  //                             MODULES
  //----------------------------------------------------------------------------

  // Header --------------------------------------------------------------------

  // module logo
  a#logo {
    top: 50px;
    left: 10px;
    width: 22%;
    height: 90px;
  }

  // module titre site
  .site-head{
    top: 77px;
    left: 24%;
    .site-title{
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
    .site-subtitle{
      font-size: .7rem;
      line-height: .75rem;
    }
  }

  // module accès client
  ul.menu-client{
    font-size: .6rem;
    line-height: .8rem;
    top:107px;
    height:50px;
    li{
      height: 50px;
    }
   .menu-client-icon {
      display: block;
      font-size: 2.1rem;
      color: $cyan;
    }
    .menu-client-icon.phone {
      padding-right: 10px;
      padding-top: 10px;
    }
    .menu-client-phone{
      padding-left: 10px;
    }
    .tel1{
      font-size: .78rem;
    }
    .tel2 {
      font-size: 1.05rem;
    }
    .tel3 {
      font-size: .6rem;
      text-align: right;
    }
  }

  //footer
  #footer2 {
    width: 100%;
  }

  // derniers commentaires

  #derniers {
    top: auto;
    width: 100%;
  }

  #ratinghome {
    width: 100%;
  }

  #footer3 {
    height: 200px;
  }

  //----------------------------------------------------------------------------
  //                      MODULES PAGE ACCUEIL
  //----------------------------------------------------------------------------



  //----------------------------------------------------------------------------
  #top_info {
    .front img{
      @include span(4);
      max-height: 100px;
    }
    #top_info_info {
      @include span(8);
      span.info_nag {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: center;
        padding-top: 0;
      }
    }
  }
  // invisible -----------------------------------------------------------------

  #preview,
  .prod-desc {
    display: none;
  }



  // help buttons --------------------------------------------------------------
  ul.form-section li.optionsformline .options_single span.optionsleft .helpButton {
    left: 92%;
  }

  // boutons mon compte --------------------------------------------------------
  a#votre_mod{
    width: 100%;
    margin-bottom: 15px;
  }
  a#votre_dec {
    width: 100%;
  }

  // alerte panier--------------------------------------------------------------
  .box_info,
  .box_warning {
    font-size: .8rem;
    line-height: .9rem;
    img{
      max-width: 50px;
    }
  }

  // ajustements padding top status commandes ----------------------------------
  .comment_new {
    padding-top: 5px;
  }
  .stat6 {
    padding-top: .8rem;
  }

  // tableau commandes ---------------------------------------------------------
  #fbcart_votre{
    table, tbody {
      display: block;
    }
    .kontener{
      text-align: center;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: bold;
      background: darken($bloc-base, 2%);
      border-bottom: darken($bloc-base, 5%);
      color: $cyan-bloc;
      height: auto;
      padding: .5rem;
    }
    td.lefttd {
      display: none;
    }
    tr {
      width: 100%;
      display: table;
      &:first-of-type{
        display: none;
      }
    }
    th {
       font-size: 0;
       border: none;
       visibility: hidden;
    }
    td, th {
      display: table-row;

    }
  }

  // tableau dernier commentaire -----------------------------------------------
  #fbcart_lastcomment {
    th {
      display: none;
      &.leftth3 {
        display:block;
        width: 100%;
      }
    }
    tr{
      background: $bloc-base;
      border-spacing: .7rem;
      td {
        width: 100%;
        padding: .5rem;
        &.lefttd,
        &.lefttd2,
        &.lefttd2a,
        &.lefttd3,
        &.lefttd3a,
        &.lefttd4{
          display: table-row;
          width: 100%;
        }
      }
    }
  }

  // tableau file upload -------------------------------------------------------
  #fbcart_fileupload3 {
    .tabsize {
      width: 20%;
    }
    th {
      display: none;
    }
    td {
      &.tdstart{
        width: 50%;
      }
      &.tdprog {
        display: none;
      }
    }
  }

  // tableau ratings

  #fbcart_rating {
    position: relative;
    float: none;
    display: inline-block;
    width: 100%;
    border-bottom: 0;
    background-image: none;

    td {
      display: block;
      width: 100%;

      &.lefttd {
        border-bottom: 0;
        display: block;
        width: 100%;
      }

      &.lefttd2 {
        display: block;
        width: 100%;
        border-bottom: 0;
        padding:0 .7rem;
        background-image: none;
      }
    }
  }
}
