//                                                 Template desktop: + de 1024px
// -----------------------------------------------------------------------------

@media(min-width: 1025px) {

  // restore hidden elements ---------------------------------------------------

  iframe,
  #chat-application {
    display: block;
  }

  //----------------------------------------------------------------------------
  //                              LAYOUT
  //----------------------------------------------------------------------------

  body {
    width: 1024px;
    background: $bloc-base;
    border-left: 1px solid darken($bloc-base, 5%);
    border-right: 1px solid darken($bloc-base, 5%);
    //box-shadow: -5px 0 15px -5px rgba(0,0,0,0.1), 5px 0 15px -5px rgba(0,0,0,0.1);
  }

  #content {
    background: $white;
  }
  #main {
    width: auto;
    margin: 0 auto;
    background: $white;
  }
  .izoneLeft {
    display: block;
    position: absolute;
    width: 170px;
    left:-171px;
    top: 0;
    img {
      position: fixed;
    }
  }

  .izoneRight {
    display: block;
    position: absolute;
    top: 0px;
    width: 170px;
    left: calc(100% + 1px);
    img {
      position: fixed;
    }
  }

  .iz1{

  }
  @media(max-width: 1350px) {
    .izoneLeft,
    .izoneRight {
      display: none;
    }
  }

  //----------------------------------------------------------------------------
  //                             HEADER
  //----------------------------------------------------------------------------

  #header {
    height: 240px;
    background-size: cover;
  }

  // logo ----------------------------------------------------------------------

  a#logo {
    height: 190px;
  }

  // titre site ----------------------------------------------------------------

  .site-head{
    width: 76.5%;
    top: 120px;
    left: 19%;
    .site-title{
      &:after{
        width: 99%;
        height: 7px;
      }
    }
    .site-subtitle{
      padding: 0 5px 0 0;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  // module accès client
  ul.menu-client{
    @include container (42%);
    top: 20px;
    left:25%;
  }

  // derniers commentaires

  #derniers {
    @include span(5);
    padding-right: 0;
  }

  #banners {
    @include span(7);
    padding-left: 0;
  }

  //----------------------------------------------------------------------------
  //                             PAGE ACCUEIL
  //----------------------------------------------------------------------------

  // module icones tarifs

  ul#tarifs {
    li {
      width: 24%; //120
    }
  }

  .b-it1,
  .b-it2,
  .b-it3 {
    margin-right: 1%;
  }

  // slider

  h1.metaTitle {
    line-height: 2.3rem !important;
    font-size: 2.3rem !important;
    margin-bottom: 15px !important;
  }

  .metaDesc, .metaAP {
    font-size: 1.1rem !important;
    line-height: 1.4rem !important;
    margin-bottom: 5px !important;
  }

  .metaAP {
    float: left;
    width: 340px;
  }
  .metaPB {
    float: right;
  }

  .metaPrice {
    font-size: 3.7rem !important;
    line-height: 3.7rem !important;
  }

  a.metaButton {
    font-size: 1.4rem !important;
  }
  //----------------------------------------------------------------------------
  //                            PAGES PRODUITS
  //----------------------------------------------------------------------------
  #buying {
    width:500px;
    min-height: 550px;
  }

  #preview,
  #preview2,
  #preview3 {
    width: 400px;
    height: 400px;
    min-height: 400px;
    .arrow {
      height: 95px;
    }
  }

  #preview {
    &:before,
    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #777;
      box-shadow: 0 15px 10px #777;
      transform: rotate(-3deg);
      animation: 1s 5s fadeIn;
      visibility: hidden;
      animation-fill-mode: forwards;
    }
    &:after {
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }

  #preview_imag,
  #preview_imag2,
  #preview_imag3,
  #preview_imag4,
  #preview_imag5 {
    min-height: 400px;
  }

  #slides {
    display: none;
    img {
      width: 400px;
      height: 400px;
    }
  }

  /* Center the slideshow */
  #container {
    width: 400px;
    height: 400px;
  }

  #wycena {
    margin-top: 20px;
    float: right;
    width: 400px;
  }

  .dateLivraison{
    margin-top: 20px;
    float: right;
    width: 400px;
  }

  .exclam{
    margin-right: 5px;
    vertical-align: middle;
  }

  //----------------------------------------------------------------------------
  //                            PAGE CONTACT
  //----------------------------------------------------------------------------
  #contact1 {
    width: 47%;
  }

  #contact2 {
    display: inline-block;
    width: 49%;
    margin-left: 3%;
    h1{
      margin-top: 0;
    }
  }

  #contact3 {
    display: inline-block;
    width: 49%;
  }

  #contact4 {
    margin-left: 1%;
    width: 49%;
  }

  span.contacter,
  span.contacter2 {
    width: 49%;
  }

  //----------------------------------------------------------------------------
  //                                 relais colis
  //----------------------------------------------------------------------------
  .exemplePresentation{
    width: 50%;

  }
  #tntB2CRelaisColis {
    width: 50%;
  }

  #blocCodePostal {
    position: relative;
    background-color: $bloc-base;
    border: 1px solid $border;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #tntBodyContentSC {
    margin-left: 70px;
    margin-top: 100px;
  }

  .tntLogo {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  //----------------------------------------------------------------------------

}
