//                                                 Template desktop: + de 1024px
// -----------------------------------------------------------------------------

@media(min-width: 1025px) {

  // restore hidden elements ---------------------------------------------------

  iframe,
  #chat-application {
    display: block;
  }

  //----------------------------------------------------------------------------
  //                              LAYOUT
  //----------------------------------------------------------------------------

  body {
    width: 1024px;
    background: $bloc-base;
    border-left: 1px solid darken($bloc-base, 5%);
    border-right: 1px solid darken($bloc-base, 5%);
  }

  #content {
    background: $white;
  }
  #main {
    width: auto;
    margin: 0 auto;
    background: $white;
  }


  //----------------------------------------------------------------------------
  //                             HEADER
  //----------------------------------------------------------------------------

  #header {
    height: 240px;
    background-size: cover;
  }

  // logo ----------------------------------------------------------------------

  a#logo {
    height: 190px;
  }

  // titre site ----------------------------------------------------------------

  .site-head{
    width: 76.5%;
    top: 120px;
    left: 19%;
    .site-title{
      &:after{
        width: 99%;
        height: 7px;
      }
    }
    .site-subtitle{
      padding: 0 5px 0 0;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  // module accès client
  ul.menu-client{
    @include container (42%);
    top: 20px;
    left:25%;
  }

  // derniers commentaires

  #derniers {
    @include span(5);
    padding-right: 0;
  }

  #banners {
    @include span(7);
    padding-left: 0;
  }

  //----------------------------------------------------------------------------
  //                             PAGE ACCUEIL
  //----------------------------------------------------------------------------

  // module icones tarifs

  ul#tarifs {
    li {
      width: 24%; //120
    }
  }

  .b-it1,
  .b-it2,
  .b-it3 {
    margin-right: 1%;
  }

  //----------------------------------------------------------------------------
  //                            PAGES PRODUITS
  //----------------------------------------------------------------------------
  #buying {
    width:500px;
  }

  #preview,
  #preview2,
  #preview3 {
    width: 400px;
    height: 400px;
  }

  #slides {
    display: none;
    img {
      width: 400px;
      height: 400px;
    }
  }

  /* Center the slideshow */
  #container {
    width: 400px;
    height: 400px;
  }

  //----------------------------------------------------------------------------
  //                            PAGE CONTACT
  //----------------------------------------------------------------------------
  #contact1 {
    width: 47%;
  }

  #contact2 {
    display: inline-block;
    width: 49%;
    margin-left: 3%;
    h1{
      margin-top: 0;
    }
  }

  #contact3 {
    display: inline-block;
    width: 49%;
  }

  #contact4 {
    margin-left: 1%;
    width: 49%;
  }

  span.contacter,
  span.contacter2 {
    width: 49%;
  }

  //----------------------------------------------------------------------------
  //                                 relais colis
  //----------------------------------------------------------------------------
  .exemplePresentation{
    width: 50%;

  }
  #tntB2CRelaisColis {
    width: 50%;
  }

  //----------------------------------------------------------------------------

}
