//                   Template tablette portrait/mobile paysage: - de 640px/540px
// -----------------------------------------------------------------------------

@media(max-width: 650px) {
  .prezHide,
  .disno650 {
    display: none;
  }

  .jotform-form .label-highlight {
    padding-left: .3rem;
  }
  // slider
  h1.metaTitle {
    line-height: 1.4rem !important;
    font-size: 1.4rem !important;
    margin-bottom: 0 !important;
  }
  .metaAP {
    width: 140px;
  }
  .metaPrice {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
  a.metaButton {
    font-size: 1.2rem !important;
    width: 80px;
  }

  #banners {
    .banner1 {
      width: 100%;
      float: none;
    }

  }

  #buying{
    h3{
      .aideDevis {
        left: 80%;
      }
    }
  }
  .cards {
    .card {
      width: 49%;
    }
  }

  // tableau commandes ---------------------------------------------------------

  #fbcart_votre{

    td {
      text-align: left;

      &.lefttd {
        display: block;
        position: absolute;
        float: right;
        right: 30px;
        border: 0;
        background: transparent;
      }
      &.tddesc {
        background: $border;
        height: 30px;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
    tr {
      position: relative;
      width: 100%;
      display: table;
      &:first-of-type{
        display: none;
      }
    }
    th {
       font-size: 0;
       border: none;
       visibility: hidden;
    }
    td, th {
      display: table-row;
    }
  }

  .but_details {
    position: absolute;
    right: -25px;
    top: 40px;
    width: auto;
    min-width:70px;
  }

  .stat {
    background-image: none;
    background: transparent;
    margin: 0;
    margin-top: 10px;
    width: 35%;
    float: right;
  }

  .votre_tab_active,
  .votre_tab_inactive {
    border-bottom: 0;
    font-size: .78rem;
    height: 55px;
  }

  .statusChecked {
    margin-top: -5px;
  }

  //----------------------------------------------------------------------------
  //                           PAGE PAIEMENTS
  //----------------------------------------------------------------------------

  .paiements_right_con {
    width: 100%;
  }

  .checkbox2 {
    width: 70%;
  }
  #suivant_reg {
    width: 30%;
  }

  //----------------------------------------------------------------------------
  //                                   MODALS
  //----------------------------------------------------------------------------
  #explode{
    .explode{
      display: block;
      width: 49%;

      .accadd {
        .inp_ilosc{
          width: 100%;
        }
        .pilosc {
          display: inline-block;
          width: 100%;
        }
        .prom_sub{
          width: 100%;
          margin-top: 5px;
        }
      }
    }
  }
}

//-------------------------------------------------------------------------540px
@media(max-width: 540px) {
  // invisible -----------------------------------------------------------------
  #preview,
  #preview2,
  .disno540 {
    display: none;
  }

  //----------------------------------------------------------------------------
  .blocAdresse {
    width: 100%;
    margin-right: 0;
    &:nth-of-type(4n){
      margin-right: 0;
    }
    &:nth-of-type(3n){
      margin-right: 0;
    }
    &:nth-of-type(2n){
      margin-right: 0;
    }
  }

  // grille --------------------------------------------------------------------
  #wycena, #estimationTitre, .delivery-date{
    margin-top: 15px;
  }

  #buying,
  #wycena_nag, #estimationTitre,
  #wycena_suma, #estimationPrix
  #dodaj_koszyk {
    @include span(12);
    padding-left: 0;
    padding-right: 0;
  }
  #wycena, #estimation,
  .dateLivraison {
    float: none;
    width: 100%;
    border: none;
  }


  button#responsive-menu-button {
    top: 10px;
    right: 10px;
    margin: 0;
  }




  // menu accès client ---------------------------------------------------------


  //----------------------------------------------------------------------------
  //                           PAGES PRODUITS
  //----------------------------------------------------------------------------

  #buying{
    min-height: 20px;
  }

  // ajustement des icônes dans les pages accueil, akilux, stickers et enseigne

  ul#tarifs, ul#tarifs2 {
    li {
      width: 48%; //120
    }
  }
  .b-it1{
    margin-right: 2%;
  }
  .b-it2 {
    margin-right: 0;
  }
  .b-it3 {
    margin-right: 2%;
  }

  //----------------------------------------------------------------------------
  //                           PAGES ACCES CLIENT
  //----------------------------------------------------------------------------

  // tableau produit commandé détail -------------------------------------------

  .disMob0 {
    display: inline-block;
    position: absolute;
    left: 5px;
    font-weight: bold;
    font-size: .75rem;
    text-transform: uppercase;
  }

  #delcart {
    position: absolute;
    right: 0;
    top: -255px;
  }

  // tableau devis -------------------------------------------------------------

  #fbcart_cart {
    position: relative;
    background-color: transparent;

    width: 100%;

    span {
      &.therest {
        //display: none;
      }
    }

    th {
      width: 100%;
      display: none;
    }

    td {
      display: inline-block;
      width: 100%;
      padding: .5rem;
      background-image: none;
      background: $border;
      text-align: right;
      border: 0;
      padding: 2px 5px;

      &.lefttd {
        width: 100%;
        border: 1px solid $border;
        padding: 5px 0;
      }
      &.noprint{
        width: 100%;
      }
      &.tdtotal{

      }
    }
  }

  #adcart {
    bottom: -6px;
    right: 5px;
  }

  #comment_left{
    padding: 1rem;
  }


  .prodpic {
    margin-left: 0;
  }

}
