@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//-------------------------------------------------------------hacks navigateurs
@mixin hackChrome {
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @content;
  }
}

@mixin hackSafari {
  _::-webkit-full-page-media, _:future, :root .safari_only {
    @content;
  }
}

@mixin hackEdge {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin hackFirefox {
  @-moz-document url-prefix() {
    @content;
  }
}

@mixin hackIE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}


// ------------------------------------------------------------------ responsive
@mixin x1366 {
  @media (min-width: 1368px) {
    @content;
  }
}
@mixin s1600 {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin s1366 {
  @media (max-width: 1367px) {
    @content;
  }
}
@mixin s1280 {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin s1024 {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin s960 {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin s860 {
  @media (max-width: 860px) {
    @content;
  }
}
@mixin s760 {
  @media (max-width: 760px) {
    @content;
  }
}
@mixin s650 {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin s540 {
  @media (max-width: 540px) {
    @content;
  }
}
@mixin s480 {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin s330 {
  @media (max-width: 330px) {
    @content;
  }
}
// BOUTONS ---------------------------------------------------------------------

// bouton de base

@mixin buttonLog($bgcolor: $cyan, $largeur: 150px) {
  position: relative;
  width: $largeur;
  height: 40px;
  margin: 0 0 10px 0;
  padding: .7rem .5rem .5rem;
  display: inline-block;
  float: none;
  cursor: pointer;
  //box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.20);
  background: $bgcolor;
  border: 0;
  //border: 1px solid darken($bgcolor, 7%);
  border-radius: 3px;
  color: #fff;
  font-family: $font-global;
  font-size: .8rem;
  line-height: .8rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
  vertical-align: middle;
  &.active,
  &:hover {
    background-image: none;
    background-color: $magenta;
    //border:1px solid darken($magenta, 7%);
    transition: .2s;
  }
  &.deactive {
    cursor: default;
    &.active,
    &:hover {
      background: $bgcolor;
      //border:1px solid darken($bgcolor, 7%);
    }
  }
}

@mixin buttonLine($bgcolor: $white, $largeur: 150px) {
  position: relative;
  width: $largeur;
  height: 40px;
  margin: 0 0 10px 0;
  padding: .7rem .5rem .5rem;
  display: inline-block;
  float: none;
  cursor: pointer;
  //box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.20);
  background: $bgcolor;
  border: 0;
  border: 1px solid $text;
  border-radius: 20px;
  color: $text;
  font-family: $font-global;
  font-size: .9rem;
  line-height: .9rem;
  font-weight: normal;
  text-align: center;
  text-indent: 0;
  vertical-align: middle;
  &.active,
  &:hover {
    background-image: none;
    border: none;
    color: $white;
    background-color: $magenta;
    //border:1px solid darken($magenta, 7%);
    transition: .2s;
  }
  &.deactive {
    cursor: default;
    &.active,
    &:hover {
      background: $bgcolor;
      //border:1px solid darken($bgcolor, 7%);
    }
  }
}

// boutons fermer tooltips et modals

@mixin close($color: $white, $size: 1rem, $top: 0, $right: 0) {
  background: none;
  border:0;
  position: absolute;
  padding: 0;
  top: $top;
  right: $right;
  color: $color;
  font-size: $size;
  font-weight: normal;
  cursor: pointer;
}

// boutons status devis

@mixin buttonStatusBase($color: $green){
  font-family: $font-global;
  width: 100%;
  background: $white;
  height: 40px;
  padding-top:-3px;
  margin: 0;
  display: inline-block;
  color: $color;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: .7rem;
  line-height: .75rem;
  vertical-align: middle;
  border-radius: 20px;
}

// boutons arrondis

@mixin buttonSoft ($color, $borderc, $hover) {
  display: block;
  background: $color;
  border: 1px solid $boderc;
  border-radius: 20px;
  padding-top: 12px;
  width: 150px;
  height: 38px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  line-height: .8rem;
  &:hover {
    background: $hover;
  }
}
