@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// BOUTONS ---------------------------------------------------------------------

@mixin buttonStatusBase($bgcolor){
  width: 100%;
  background: $bgcolor;
  height: 40px;
  padding: 5px;
  margin: 0;
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: .7rem;
  vertical-align: middle;
  &.active,
  &:hover {
    background-image: none;
    background-color: $magenta;
  }
}

@mixin buttonLog($bgcolor: $cyan, $largeur: 24px) {
  position: relative;
  width: $largeur;
  height: 40px;
  margin: 0 0 10px 0;
  padding: .7rem .5rem .5rem;
  display: inline-block;
  float: none;
  cursor: pointer;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  background: $bgcolor;
  border:1px solid darken($bgcolor, 7%);
  border-radius: 3px;

  color: #fff;
  font-family: $font-global;
  font-size: .8rem;
  line-height: .8rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
  vertical-align: middle;

  &.active,
  &:hover {
    background-image: none;
    background-color: $magenta;
    border:1px solid darken($magenta, 7%);
    transition-delay: .2s;
  }
  &.deactive {
    cursor: default !important;
    &.active,
    &:hover {
      background: $bgcolor;
      border:1px solid darken($bgcolor, 7%);
    }
  }
}
