//colors

$color_1: #fff;
$color_18: #f5f7fb;
$color_40: #f6f6f6;
$color_25: #f1f1f1;
$color_51: #e8e8e9;
$color_36: #b2bcca;
$color_37: #9fa3a8;
$color_41: #869da6;
$color_7: #e1e8f2;
$color_8: #afb9c7;
$color_47: #a2a6ab;
$color_5: #999;
$color_15: gray;
$color_2: #656567;
$color_0: #555a61;
$color_13: #565960;
$color_6: #484b51;
$color_9: #464b4c;
$color_49: #46454b;
$color_44: #333;
$color_4: #282a2d;
$color_30: #272727;
$color_3: #000;
$color_10: #e88c07;
$color_12: #008ebb;
$color_21: #125b17;
$color_50: #00901d;
$color_29: #0c3;
$color_16: #3c0;
$color_19: #1797c4;
$color_20: #565b62;
$color_22: #bdd6bf;
$color_23: #e4a911;
$color_48: #f9b812;
$color_24: #fde799;
$color_31: #fc2666;
$color_32: #74c012;
$color_33: #ff5d17;
$color_34: #9600ff;
$color_35: #ffdd00;
$color_38: #3097c0;
$color_26: #fbcfd0;
$color_27: #db0073;
$color_53: #d23562;
$color_11: #cc4068;
$color_28: #ea2a6a;
$color_42: #ffaaaa;
$color_45: #dd8888;
$color_46: #ffcccc;
$color_52: #f00;
