//colors
$color_0: #555a61;
$color_1: #fff;
$color_2: #656567;
$color_3: #000;
$color_4: #282a2d;
$color_5: #999;
$color_6: #484b51;
$color_7: #e1e8f2;
$color_8: #afb9c7;
$color_9: #464b4c;
$color_10: #e88c07;
$color_11: #cc4068;
$color_12: #008ebb;
$color_13: #565960;
$color_14: #f00;
$color_15: #0c3;
$color_16: #00901d;
$color_17: #f6f6f6;
$color_18: #565b62;
$color_19: #125b17;
$color_20: #bdd6bf;
$color_21: #f9b812;
$color_22: #fde799;
$color_23: #f1f1f1;
$color_24: #fbcfd0;
$color_25: #db0073;
$color_26: #ea2a6a;
$color_27: #272727;
$color_28: #fc2666;
$color_29: #74c012;
$color_30: #ff5d17;
$color_31: #9600ff;
$color_32: #fd0;
$color_33: #3097c0;
$color_34: #869da6;
$color_35: #faa;
$color_36: #333;
$color_37: #d88;
$color_38: #fcc;
$color_39: #e8e8e9;
