@import 'susy';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/Sansation-Bold-webfont.eot');
    src: url('../fonts/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation-Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import 'variables';
@import 'mixins';
//@import 'layout'; // ancien template - à priori devenu inutile mais conservé en cas de pb
@import 'layoutL';  // template de base sur lequel les fichiers layout suivants modifient l'affichage en fonction de la résolution
@import 'layoutM';  // format tablette large
@import 'layoutS';  // format tablette petit
@import 'layoutXS'; // format mobile
@import 'layoutXL'; // format desktop


// @include border-box-sizing;
