@import "susy";
@import 'variables';
@import 'extends';
@import 'mixins';
@import 'global';
@import 'layout';
@import 'layout-mobile';

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
