@import 'susy';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');
@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/Sansation-Bold-webfont.eot');
    src: url('../fonts/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation-Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import 'variables';
@import 'mixins';
//@import 'layout'; // (ancien template)
@import 'layoutLdev';  // base 1024px (modifs dev)
//@import 'layoutL';  // base 1024px (template général)
@import 'layoutM';  // max 760px (tablette)
@import 'layoutS';  // max 640px (phablette)
@import 'layoutXS'; // max 480px (mobile)
@import 'layoutXLdev'; // min 1025px (desktop)
//@import 'layoutXL'; // min 1025px (desktop)
